*{
    font-family: 'Fredoka', sans-serif;
}

.navbar{
    background-color: rgb(153, 153, 153);
    color: black;
}
.items{
    border: 2px solid black;
    margin-top: 16px;
    background-color: rgb(153, 153, 153);
    border-radius: 12px;
}

.desc{
    margin-top: 10px;
    padding: 3px 12px;
    font-weight: 600;
}

.item-name{
    font-weight: bold;
}
